<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap"
	rel="stylesheet">
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" 
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
<title>RESTO-APP</title>
</head>

<body>

	<div class="header sticky">
		<div class="flex-container-top-header">
			<div class="flex-container-top-right-header">
				<div class="logo2">
					<img src="img/dinning-logo2.png">
				</div>
				<div class="divider">|</div>
				<div class="logo">
					<img src="img/NBCC-white-simple.png">
				</div>
			</div>
			<div class="flex-container-top-links-header">
				<div class="navigation-item ">
					<a th:href="@{/toAboutUs}" class="nav-link"> About Us </a>
				</div>
				<div class="navigation-item ">
					<a th:href="@{/toCustomerView}" class="nav-link"> Home </a>
				</div>
				<div class="navigation-item ">
					<a th:href="@{/customerMenuDisplay}" class="nav-link "> Menu </a>
				</div>
				<div class="navigation-item ">
					<a th:href="@{/reservationOptions}" class="nav-link"> Book a
						Reservation </a>
				</div>
				<div th:if="${#session != null}" class="navigation-item ">
					<a th:href="@{/userPanel}" class=" button-6">Staff Panel</a>
				</div>
			</div>

			<div th:if="${#session == null}" class="">
				<a th:href="@{/goToLogin}" class="button-6">Staff Panel</a>
			</div>
			<div th:if="${#session != null}" class="">
				<a th:href="@{/goToLogout}" class="button-6 cancelBtn">Sign Out</a>
			</div>
		</div>
		<!-- 
		<div class="flex-container-column">
			<div class="content-bottom">
				<div class="navigation">
					<div class="navigation-item ">
						<a th:href="@{/toCustomerView}" class="nav-link"> Home </a>
					</div>
					<div class="navigation-item ">
						<a th:href="@{/customerMenuDisplay}" class="nav-link "> Menus
						</a>
					</div>
					<div class="navigation-item ">
						<a th:href="@{/reservationOptions}" class="nav-link"> Book a
							Reservation </a>
					</div>
					<div class="navigation-item ">
						<a th:href="@{/userPanel}" class="nav-link">User Panel</a>
					</div>
					<div th:if="${#session != null}" class="navigation-item">
						<a th:href="@{/customerReservations}" class="nav-link">Your
							Reservations</a>
					</div>
				</div>
			</div>
		</div>
		 -->

	</div>
	<div class="titleBackground">
		<h1 class="firstPageTitle">About Us</h1>
	</div>
	<div class="  medium-width">
		<div class="flex-container margin-top-6 ">
			<div class="content-left">
				<h4 class="styledH4 titleSmall">Who are we?</h4>
				<h1 class="bigTitle">Dining Room 1234 NBCC Moncton Campus</h1>
				<h2>Dining Room 1234 is the practical learning experience for
					students in the Hospitality Department at Moncton Campus to show
					their outstanding potential while working in our amazing cafeteria.</h2>
				<br>
			</div>
			<div class="content-right">
				<div class="image-container">
					<img src="img/NBCC-group.jpg">
				</div>
			</div>
		</div>

		<div class="center-container margin-top-6">
			<h4 class="titleSmall">What Do We Offer?</h4>
			<h2 class="titleBottomBorder">Every week we feature a unique banquet style 3 course meal
				inspired in different nationalities and cultures.</h2>
			<ul class="ulAboutUs">
				<li>We operate during breakfast, lunch, and dinner times, each one with different menus</li>
				<li>Check out our menus to see which banquet you would like to
					enjoy</li>
					<br>
				<li>We recommend booking a reservation in advance, as we usually sell out</li>
				<li>* Reservations can be made for a maximum of 8 people</li>
				<li class="specialRequest">Vegetarian? Vegan? Any allergies or special requests? 
				No problem! We are here to make everybody enjoy this experience! Just let us know 
				while filling out your reservation form.</li>
			</ul>
			<div class="row margin-top-5">
				<div class="col-md-12"></div>
			</div>

		</div>

		<div class="center-container testimonials">
			<h4 class="titleSmall">Guests Feedback</h4>
			<h1>What Our Clients Say</h1>
			<div class="carousel-container">
				<div class="inner-carousel">
					<div class="track">
						<div class="card-container">
							<div class="card">
								<div class="user-image">
									<i class="fa-solid fa-circle-user fa-4x "></i>
								</div>
								<div class="testimonial-col ">
									
									<div>
										<p>The variety of foods offered and the knowledge and friendliness of the servers.  
										Great work people.</p>
										<h3>Lynda McLeod</h3>
										<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
											class="fa fa-star"></i> <i class="fa fa-star"></i> <i
											class="fa fa-star"></i>
									</div>
								</div>
							</div>
						</div>
						<div class="card-container">
							<div class="card">
								<div class="user-image">
									<i class="fa-solid fa-circle-user fa-4x "></i>
								</div>
								<div class="testimonial-col ">
									<div class="fullWidth">
										<p>Always look for ward to fine dining here</p>
										<h3>Vida Black</h3>
										<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
											class="fa fa-star"></i> <i class="fa fa-star"></i> <i
											class="fa fa-star"></i>
									</div>
								</div>
							</div>
						</div>
						<div class="card-container">
							<div class="card">
								<div class="user-image">
									<i class="fa-solid fa-circle-user fa-4x "></i>
								</div>
								<div class="testimonial-col ">
									
									<div class="fullWidth">
										<p>The food and service is always amazing!</p>
										<h3>Crystal Loo</h3>
										<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
											class="fa fa-star"></i> <i class="fa fa-star"></i> <i
											class="fa fa-star"></i>
									</div>
								</div>
							</div>
						</div>
						<div class="card-container">
							<div class="card">
								<div class="user-image">
									<i class="fa-solid fa-circle-user fa-4x "></i>
								</div>
								<div class="testimonial-col ">
									
									<div class="fullWidth">
										<p>Excellent food and superb service!</p>
										<h3>Romana Romana</h3>
										<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
											class="fa fa-star"></i> <i class="fa fa-star"></i> <i
											class="fa fa-star"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="nav">
						<button class="prev">
							<i class="fa fa-arrow-left fa-2x"></i>
						</button>
						<button class="next">
							<i class="fa fa-arrow-right fa-2x"></i>
						</button>
					</div>
				</div>
			</div>
			<h5>
				Feedbacks from Facebook page: <a class="nav-link"
					href="https://www.facebook.com/DiningRoom1234/">DiningRoom1234</a>
			</h5>
		</div>
	</div>

	<div class="coffeTableBackground margin-top-5">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-6">
				<h4>Want to experience our incredible food and service?</h4>
				<h1>Make a Reservation Now!</h1>
			</div>
			<div class="col-md-3">
				<a th:href="@{/reservationOptions}" class="button-6 aboutResButton">Book a
					Reservation</a>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>

	<footer>
		<div class="footer margin-top-5">
			<div class="row">
				<a href="https://www.facebook.com/DiningRoom1234/"><i class="fa-brands fa-square-facebook"></i></a> <a
					href="https://www.instagram.com/nbccmoncton/"><i class="fa-brands fa-instagram"></i></a> <a
					href="mailto:MO.Hospitality@nbcc.ca"><i class="fa fa-envelope"></i></a>
			</div>

			<div class="row">
				<div class="col-xl-3 col-md-3 "></div>
				<div class="col-xl-4 col-md-4 ">
					<div class="single-cta">
						<i class="fa-solid fa-location-dot"></i></i>
						<div class="cta-text">
							<h4>Find us</h4>
							<span>1234 Mountain Road, Moncton,</span> <br> <span>
								NB, Canada, E1C 8H9</span>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-md-3 ">
					<div class="single-cta">
						<i class="fa fa-phone"></i>
						<div class="cta-text">
							<h4>Contact Us</h4>
							<span>+1 (506) 856-2220<br>MO.Hospitality@nbcc.ca
							</span>
						</div>
					</div>
				</div>
				<div class="col-xl-2 col-md-2 "></div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<ul>
						<li><a th:href="@{/toAboutUs}">About Us</a></li>
						<li><a th:href="@{/toCustomerView}">Home</a></li>
						<li><a th:href="@{/reservationOptions}">Reservations</a></li>
						<li><a href="#">Privacy Policy</a></li>
					</ul>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">© Copyright 2022. All Rights Reserved.
					|| Designed By: DevAtlantics - Ana Silva & Jose Silva</div>
			</div>
		</div>
	</footer>

	<script>
		/* Carousel */
		const prev = document.querySelector(".prev");
		const next = document.querySelector(".next");
		const carousel = document.querySelector(".carousel-container");
		const track = document.querySelector(".track");
		let width = carousel.offsetWidth;
		let index = 0;
		window.addEventListener("resize", function() {
			width = carousel.offsetWidth;
		});
		next.addEventListener("click", function(e) {
			e.preventDefault();
			index = index + 1;
			prev.classList.add("show");
			track.style.transform = "translateX(" + index * -width + "px)";
			if (track.offsetWidth - index * width < index * width) {
				next.classList.add("hide");
			}
		});
		prev.addEventListener("click", function() {
			index = index - 1;
			next.classList.remove("hide");
			if (index === 0) {
				prev.classList.remove("show");
			}
			track.style.transform = "translateX(" + index * -width + "px)";
		});
	</script>
</body>
</html>