<!DOCTYPE html>
<html class="loginBody" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>Log In</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="loginBody">
	<div class="layer">
		<div class="wrapper fadeInDown">
			<div class="content-top">
					<img src="img/NBCC-white.png" style="width: 300px; margin-top: -1em">
			</div>
		<h1 class="h1Login">Dining Room 1234 - Management System</h1>
		<div id="formContent">
			<!-- Tabs Titles -->
			<h2 class="loginH2 active">Sign In</h2>

			<!-- Icon -->
			<div class="fadeIn first">
				<i class="fa fa-user-circle fa-5x userIcon" aria-hidden="true" style="color:#cccccc;"
					title="User Page"> </i>
			</div>
			
			<div th:if="${ error != null || logout != null}" style="color:#cccccc;">
				<p th:text="${error}"></p>
				<p th:text="${logout}"></p>
			</div>

			<!-- Login Form -->
			<form th:action="@{/processLogin}" name="f" method="POST">
				<input type="text" id="username" class="loginText fadeIn second" name="username"
					placeholder="username"> <input type="password" id="password"
					class="loginText fadeIn third" name="password" placeholder="password"> <input
					type="submit" class="loginButton fadeIn fourth" value="Log In">
			</form>

			<!-- Remind Passowrd -->
			<div id="formFooter">
				<a class="loginA underlineHover" href="#">Forgot Password?</a>
			</div>

		</div>
	</div>
	</div>
</body>
</html>