<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap"
	rel="stylesheet">
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>RESTO-APP</title>
</head>
<body>

	<div class="header sticky">
		<div class="flex-container-top-header">
			<div class="flex-container-top-right-header">
				<div class="logo2">
					<img src="img/dinning-logo2.png">
				</div>
				<div class="divider">|</div>
				<div class="logo">
					<img src="img/NBCC-white-simple.png">
				</div>
			</div>
			<div class="flex-container-top-links-header">
				<div class="navigation-item ">
					<a th:href="@{/toAboutUs}" class="nav-link"> About Us </a>
				</div>
				<div class="navigation-item ">
					<a th:href="@{/toCustomerView}" class="nav-link"> Home </a>
				</div>
				<div class="navigation-item ">
					<a th:href="@{/customerMenuDisplay}" class="nav-link "> Menu </a>
				</div>
				<div class="navigation-item ">
					<a th:href="@{/reservationOptions}" class="nav-link"> Book a
						Reservation </a>
				</div>
				<div th:if="${#session != null}" class="navigation-item ">
					<a th:href="@{/userPanel}" class=" button-6">Staff Panel</a>
				</div>
			</div>

			<div th:if="${#session == null}" class="">
				<a th:href="@{/goToLogin}" class="button-6">Staff Panel</a>
			</div>
			<div th:if="${#session != null}" class="">
				<a th:href="@{/goToLogout}" class="button-6 cancelBtn">Sign Out</a>
			</div>
		</div>
	</div>

	<div class="titleBackground titleBackgroundCooker">
		<h1 class="firstPageTitle">Menu</h1>
	</div>
	<div class="main  medium-width">
		<div class="center-container">
			<h3>What Do We Offer?</h3>
			<h2>Every week we feature a unique banquet style 3 course meal
				inspired in different nationalities and cultures.</h2>
			<div class="grid-menu-container">
				<div class="grid-menu">
					<h2>Breakfast Menu</h2>
					<div th:if="${breakfastMenu} == null">
						<h3>No breakfast menu to display yet.</h3>
					</div>
					<div th:unless="${breakfastMenu} == null">
						<div class="menu-display-container">
							<div class="menu-title center">
								<h2 th:text="${breakfastMenu.title}"></h2>
							</div>
							<div class="menu-details">
								<div class="menu-section-template" th:if="${breakfastMenu.getAppList().size()} > 0 ">
									<div class="menu-section-title">Appetizer</div>
									<div class="menu-section-content">
										<div th:each="dish : ${breakfastMenu.getAppList()}"
											class="menu-section-dish">
											<div th:text="${dish.name}" class="menu-dish-title"></div>
											<div th:text="${dish.description}"
												class="menu-dish-description"></div>
										</div>
									</div>
								</div>
								<div class="menu-section-template" th:if="${breakfastMenu.getEntreeList().size()} > 0 ">
									<div class="menu-section-title">Entree</div>
									<div class="menu-section-content">
										<div th:each="dish : ${breakfastMenu.getEntreeList()}"
											class="menu-section-dish">
											<div th:text="${dish.name}" class="menu-dish-title"></div>
											<div th:text="${dish.description}"
												class="menu-dish-description"></div>
										</div>
									</div>
								</div>
								<div class="menu-section-template" th:if="${breakfastMenu.getDessertList().size()} > 0 ">
									<div class="menu-section-title">Dessert</div>
									<div class="menu-section-content">
										<div th:each="dish : ${breakfastMenu.getDessertList()}"
											class="menu-section-dish">
											<div th:text="${dish.name}" class="menu-dish-title"></div>
											<div th:text="${dish.description}"
												class="menu-dish-description"></div>
										</div>
									</div>
								</div>
								<div class="menu-section-template" th:if="${breakfastMenu.getDrinkList().size()} > 0 ">
									<div class="menu-section-title">Drink</div>
									<div class="menu-section-content">
										<div th:each="dish : ${breakfastMenu.getDrinkList()}"
											class="menu-section-dish">
											<div th:text="${dish.name}" class="menu-dish-title"></div>
											<div th:text="${dish.description}"
												class="menu-dish-description"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="grid-menu">
					<h2>Lunch Menu</h2>
					<div th:if="${lunchMenu} == null">
						<h3>No evening menu to display yet.</h3>
					</div>
					<div th:unless="${lunchMenu} == null">
						<div class="menu-display-container">
							<div class="menu-title center">
								<h2 th:text="${lunchMenu.title}"></h2>
							</div>							
							<div class="menu-details">
								<div class="menu-section-template"  th:if="${lunchMenu.getAppList().size()} > 0 ">
									<div class="menu-section-title">Appetizer</div>
									<div class="menu-section-content">
										<div th:each="dish : ${lunchMenu.getAppList()}"
											class="menu-section-dish">
											<div th:text="${dish.name}" class="menu-dish-title"></div>
											<div th:text="${dish.description}"
												class="menu-dish-description"></div>
										</div>
									</div>
								</div>
								<div  class="menu-section-template" th:if="${lunchMenu.getEntreeList().size()} > 0 ">
									<div class="menu-section-title">Entree</div>
									<div class="menu-section-content">
										<div th:each="dish : ${lunchMenu.getEntreeList()}"
											class="menu-section-dish">
											<div th:text="${dish.name}" class="menu-dish-title"></div>
											<div th:text="${dish.description}"
												class="menu-dish-description"></div>
										</div>
									</div>
								</div>
								<div class="menu-section-template" th:if="${lunchMenu.getDessertList().size()} > 0 ">
									<div class="menu-section-title">Dessert</div>
									<div class="menu-section-content">
										<div th:each="dish : ${breakfastMenu.getDessertList()}"
											class="menu-section-dish">
											<div th:text="${dish.name}" class="menu-dish-title"></div>
											<div th:text="${dish.description}"
												class="menu-dish-description"></div>
										</div>
									</div>
								</div>
								<div class="menu-section-template" th:if="${lunchMenu.getDrinkList().size()} > 0 ">
									<div class="menu-section-title">Drink</div>
									<div class="menu-section-content">
										<div th:each="dish : ${lunchMenu.getDrinkList()}"
											class="menu-section-dish">
											<div th:text="${dish.name}" class="menu-dish-title"></div>
											<div th:text="${dish.description}"
												class="menu-dish-description"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="grid-menu">
					<h2>Evening Menu</h2>
					<div th:if="${eveningMenu} == null">
						<h3>No evening menu to display yet.</h3>
					</div>
					<div th:unless="${eveningMenu} == null">
						<div class="menu-display-container">
							<div class="menu-title center">
								<h2 th:text="${eveningMenu.title}"></h2>
							</div>
							<div class="menu-details">
								<div class="menu-section-template"  th:if="${eveningMenu.getAppList().size()} > 0 ">
									<div class="menu-section-title">Appetizer</div>
									<div class="menu-section-content">
										<div th:each="dish : ${eveningMenu.getAppList()}"
											class="menu-section-dish">
											<div th:text="${dish.name}" class="menu-dish-title"></div>
											<div th:text="${dish.description}"
												class="menu-dish-description"></div>
										</div>
									</div>
								</div>
								<div class="menu-section-template"  th:if="${eveningMenu.getEntreeList().size()} > 0 ">
									<div class="menu-section-title">Entree</div>
									<div class="menu-section-content">
										<div th:each="dish : ${eveningMenu.getEntreeList()}"
											class="menu-section-dish">
											<div th:text="${dish.name}" class="menu-dish-title"></div>
											<div th:text="${dish.description}"
												class="menu-dish-description"></div>
										</div>
									</div>
								</div>
								<div class="menu-section-template"  th:if="${eveningMenu.getDessertList().size()} > 0 ">
									<div class="menu-section-title">Dessert</div>
									<div class="menu-section-content">
										<div th:each="dish : ${eveningMenu.getDessertList()}"
											class="menu-section-dish">
											<div th:text="${dish.name}" class="menu-dish-title"></div>
											<div th:text="${dish.description}"
												class="menu-dish-description"></div>
										</div>
									</div>
								</div>
								<div class="menu-section-template" th:if="${eveningMenu.getDrinkList().size()} > 0 ">
									<div class="menu-section-title">Drink</div>
									<div class="menu-section-content">
										<div th:each="dish : ${eveningMenu.getDrinkList()}"
											class="menu-section-dish">
											<div th:text="${dish.name}" class="menu-dish-title"></div>
											<div th:text="${dish.description}"
												class="menu-dish-description"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="center-container">
			<h4></h4>

		</div>
	</div>

	<footer>
		<div class="footer">
			<div class="row">
				<a href="https://www.facebook.com/DiningRoom1234/"><i
					class="fa fa-facebook"></i></a> <a
					href="https://www.instagram.com/nbccmoncton/"><i
					class="fa fa-instagram"></i></a> <a
					href="mailto:MO.Hospitality@nbcc.ca"><i class="fa fa-envelope"></i></a>
			</div>

			<div class="row">
				<div class="col-xl-3 col-md-3 "></div>
				<div class="col-xl-4 col-md-4 ">
					<div class="single-cta">
						<i class="fa fa-map-marker"></i>
						<div class="cta-text">
							<h4>Find us</h4>
							<span>1234 Mountain Road, Moncton,</span> <br> <span>
								NB, Canada, New Brunswick</span>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-md-3 ">
					<div class="single-cta">
						<i class="fa fa-phone"></i>
						<div class="cta-text">
							<h4>Contact Us</h4>
							<span>+1 (506) 999-9999<br>MO.Hospitality@nbcc.ca
							</span>
						</div>
					</div>
				</div>
				<div class="col-xl-2 col-md-2 "></div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<ul>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Home</a></li>
						<li><a href="#">Reservations</a></li>
						<li><a href="#">Privacy Policy</a></li>
					</ul>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">© Copyright 2022. All Rights Reserved.
					|| Designed By: DevAtlantics - Ana Silva & Jose Silva</div>
			</div>
		</div>
	</footer>
</body>

</html>