<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap"
	rel="stylesheet">
	<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link type="text/css" rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/styles.css">
<title>RESTO-APP</title>
</head>

<body>
	<div class="header sticky">
		<div class="flex-container-top-header">
			<div class="flex-container-top-right-header">
				<div class="logo2">
					<img src="img/dinning-logo2.png">
				</div>
				<div class="divider">|</div>
				<div class="logo">
					<img src="img/NBCC-white-simple.png">
				</div>
			</div>
			<div class="flex-container-top-links-header">
				<div class="navigation-item ">
					<a th:href="@{/toAboutUs}" class="nav-link"> About Us </a>
				</div>
				<div class="navigation-item ">
					<a th:href="@{/toCustomerView}" class="nav-link"> Home </a>
				</div>
				<div class="navigation-item ">
					<a th:href="@{/customerMenuDisplay}" class="nav-link "> Menu </a>
				</div>
				<div class="navigation-item ">
					<a th:href="@{/reservationOptions}" class="nav-link"> Book a
						Reservation </a>
				</div>
				<div th:if="${#session != null}" class="navigation-item ">
					<a th:href="@{/userPanel}" class=" button-6">Staff Panel</a>
				</div>
			</div>

			<div th:if="${#session == null}" class="">
				<a th:href="@{/goToLogin}" class="button-6">Staff Panel</a>
			</div>
			<div th:if="${#session != null}" class="">
				<a th:href="@{/goToLogout}" class="button-6 cancelBtn">Sign Out</a>
			</div>
		</div>
		<!-- 
		<div class="flex-container-column">
			<div class="content-bottom">
				<div class="navigation">
					<div class="navigation-item ">
						<a th:href="@{/toCustomerView}" class="nav-link"> Home </a>
					</div>
					<div class="navigation-item ">
						<a th:href="@{/customerMenuDisplay}" class="nav-link "> Menus
						</a>
					</div>
					<div class="navigation-item ">
						<a th:href="@{/reservationOptions}" class="nav-link"> Book a
							Reservation </a>
					</div>
					<div class="navigation-item ">
						<a th:href="@{/userPanel}" class="nav-link">User Panel</a>
					</div>
					<div th:if="${#session != null}" class="navigation-item">
						<a th:href="@{/customerReservations}" class="nav-link">Your
							Reservations</a>
					</div>
				</div>
			</div>
		</div>
		 -->

	</div>

	<div class="main  medium-width">
		<div class="flex-container margin-top-5 ">
			<div class="content-left">
				<h2>Thanks for your reservation! A member of our team will analyze your 
				request and confirm the reservation as soon as possible.</h2>
			</div>
			<div class="content-right">
				<div class="image-container">
					<img src="img/nbccHospitality.jpg">
				</div>
			</div>
		</div>
	</div>

			<footer>
		<div class="footer">
			<div class="row">
				<a href="https://www.facebook.com/DiningRoom1234/"><i
					class="fa fa-facebook"></i></a> <a
					href="https://www.instagram.com/nbccmoncton/"><i
					class="fa fa-instagram"></i></a> <a
					href="mailto:MO.Hospitality@nbcc.ca"><i class="fa fa-envelope"></i></a>
			</div>

			<div class="row">
				<div class="col-xl-3 col-md-3 "></div>
				<div class="col-xl-4 col-md-4 ">
					<div class="single-cta">
						<i class="fa fa-map-marker"></i>
						<div class="cta-text">
							<h4>Find us</h4>
							<span>1234 Mountain Road, Moncton,</span> <br> <span>
								NB, Canada, New Brunswick</span>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-md-3 ">
					<div class="single-cta">
						<i class="fa fa-phone"></i>
						<div class="cta-text">
							<h4>Contact Us</h4>
							<span>+1 (506) 999-9999<br>MO.Hospitality@nbcc.ca
							</span>
						</div>
					</div>
				</div>
				<div class="col-xl-2 col-md-2 "></div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<ul>
						<li><a th:href="@{/toAboutUs}">About Us</a></li>
						<li><a th:href="@{/toCustomerView}">Home</a></li>
						<li><a th:href="@{/reservationOptions}">Reservations</a></li>
						<li><a href="#">Privacy Policy</a></li>
					</ul>
					</ul>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">© Copyright 2022. All Rights Reserved.
					|| Designed By: DevAtlantics - Ana Silva & Jose Silva</div>
			</div>
		</div>
	</footer>
</body>

</html>