<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />

<link type="text/css" rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/styles.css">
<title>RESTO-APP</title>
</head>

<body>
	<div class="header sticky">
		<div class="flex-container-top-header">
			<div class="flex-container-top-right-header">
				<div class="logo2">
					<img src="img/dinning-logo2.png">
				</div>
				<div class="divider">|</div>
				<div class="logo">
					<img src="img/NBCC-white-simple.png">
				</div>
			</div>
			<div class="flex-container-top-links-header">
				<div class="navigation-item ">
					<a th:href="@{/toAboutUs}" class="nav-link"> About Us </a>
				</div>
				<div class="navigation-item ">
					<a th:href="@{/toCustomerView}" class="nav-link"> Home </a>
				</div>
				<div class="navigation-item ">
					<a th:href="@{/customerMenuDisplay}" class="nav-link "> Menu </a>
				</div>
				<div class="navigation-item ">
					<a th:href="@{/reservationOptions}" class="nav-link"> Book a
						Reservation </a>
				</div>
				<!-- 
				<div th:if="${#session != null}" class="navigation-item">
					<a th:href="@{/yourReservations}" class="nav-link">Your
						Reservations</a>
				</div>
				 -->
				<div th:if="${#session != null}" class="navigation-item ">
					<a th:href="@{/userPanel}" class=" button-6">Staff Panel</a>
				</div>
			</div>

			<div th:if="${#session == null}" class="">
				<a th:href="@{/goToLogin}" class="button-6">Staff Panel</a>
			</div>
			<div th:if="${#session != null}" class="">
				<a th:href="@{/goToLogout}" class="button-6 cancelBtn">Sign Out</a>
			</div>
		</div>
		<!-- 
		<div class="flex-container-column">
			<div class="content-bottom">
				<div class="navigation">
					<div class="navigation-item ">
						<a th:href="@{/toCustomerView}" class="nav-link"> Home </a>
					</div>
					<div class="navigation-item ">
						<a th:href="@{/customerMenuDisplay}" class="nav-link "> Menus
						</a>
					</div>
					<div class="navigation-item ">
						<a th:href="@{/reservationOptions}" class="nav-link"> Book a
							Reservation </a>
					</div>
					<div class="navigation-item ">
						<a th:href="@{/userPanel}" class="nav-link">User Panel</a>
					</div>
					<div th:if="${#session != null}" class="navigation-item">
						<a th:href="@{/customerReservations}" class="nav-link">Your
							Reservations</a>
					</div>
				</div>
			</div>
		</div>
		 -->

	</div>

	<div class="titleBackground titleBackgroundRes">
		<h1 class="firstPageTitle">Reservation</h1>
	</div>

	<div class="main medium-width">
		<div class="center-container">
			<h2 class="titleTopBorder margin-bottom-3">Choose Your Booking
				Time</h2>
			<div class="row">

				<div class="table-container col-md-4 static-position">
					<div>
						<a th:href="@{/addNewReservation}" class="button-6">Breakfast
							Menu</a>
					</div>
					<table class="styled-table1">
						<thead class="theadStyle">
							<tr>
								<th>Breakfast Hours</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="reservationTime : ${resTimeBreakfast}">
								<td th:text="${reservationTime.time}"></td>
								<td><input type="button" class="button-6"
									data-toggle="modal" data-target="#addReservation"
									th:attr="data-object-id=''+${reservationTime.time}+'', data-object-name=''+${reservationTime.time}+'', data-target='#addReservation'"
									value="Book"> <th:block
										th:replace="_modals :: modal('addReservation')">modal</th:block>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="table-container  col-md-4 static-position">
					<div>
						<a th:href="@{/addNewReservation}" class="button-6">Lunch Menu</a>
					</div>
					<table class="styled-table1">
						<thead class="theadStyle">
							<tr>
								<th>Lunch Hours</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="reservationTime : ${resTimeLunch}">
								<td th:text="${reservationTime.time}"></td>
								<td><input type="button" class="button-6"
									data-toggle="modal" data-target="#addReservation"
									th:attr="data-object-id=''+${reservationTime.time}+'', data-object-name=''+${reservationTime.time}+'', data-target='#addReservation'"
									value="Book"> <th:block
										th:replace="_modals :: modal('addReservation')">modal</th:block>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="table-container  col-md-4 static-position">
					<div>
						<a th:href="@{/addNewReservation}" class="button-6">Night Menu</a>
					</div>
					<table class="styled-table1">
						<thead class="theadStyle">
							<tr>
								<th>Night Hours</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="reservationTime : ${resTimeNight}">
								<td th:text="${reservationTime.time}"></td>
								<td><input type="button" class="button-6"
									data-toggle="modal" data-target="#addReservation"
									th:attr="data-object-id=''+${reservationTime.time}+'', data-object-name=''+${reservationTime.time}+'', data-target='#addReservation'"
									value="Book"> <th:block
										th:replace="_modals :: modal('addReservation')">modal</th:block>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<h2 class="col-md-12 titleTopBorder margin-bottom-3">Cafeteria
					Display</h2>
			</div>
				<div class="row">
					<div class="col-md-12">
						<div class="image-floor-container">
						<div class="floor-plan-one-grid">
							<div class="item item-1">
								<a class="table-button" href="#">40</a>
							</div>
							<div class="item item-2">
								<a class="table-button" href="#">12</a>
							</div>
							<div class="item item-3">
								<a class="table-button" href="#">11</a>
							</div>
							<div class="item item-4">
								<a class="table-button" href="#">10</a>
							</div>
							<div class="item item-door"></div>
							<div class="item item-5">
								<a class="table-button" href="#">41</a>
							</div>
							<div class="item item-6"></div>
							<div class="item item-7">
								<a class="table-button" href="#">22</a>
							</div>
							<div class="item item-8">
								<a class="table-button" href="#">21</a>
							</div>
							<div class="item item-9"></div>
							<div class="item item-10">
								<a class="table-button" href="#">20</a>
							</div>
							<div class="item item-11">
								<a class="table-button" href="#">50</a>
							</div>
							<div class="item item-12">
								<a class="table-button" href="#">42</a>
							</div>
							<div class="item item-13"></div>
							<div class="item item-14">
								<a class="table-button" href="#">51</a>
							</div>
							<div class="item item-15">
								<a class="table-button" href="#">43</a>
							</div>
							<div class="item item-16">
								<a class="table-button" href="#">30</a>
							</div>
							<div class="item item-17">
								<a class="table-button" href="#">52</a>
							</div>
							<div class="item item-18"></div>
							<div class="item item-19"></div>
							<div class="item item-20"></div>
							<div class="item item-21"></div>
							<div class="item item-22"></div>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>

	<footer>
		<div class="footer">
			<div class="row">
				<div class="col-xl-4 col-md-4 "></div>
				<div class="col-xl-4 col-md-4 ">
					<a href="https://www.facebook.com/DiningRoom1234/"><i
						class="fa fa-facebook-square"></i></a> <a
						href="https://www.instagram.com/nbccmoncton/"><i
						class="fa fa-instagram"></i></a> <a
						href="mailto:MO.Hospitality@nbcc.ca"><i class="fa fa-envelope"></i></a>
				</div>
				<div class="col-xl-4 col-md-4 "></div>
			</div>

			<div class="row">
				<div class="col-xl-3 col-md-3 "></div>
				<div class="col-xl-4 col-md-4 ">
					<div class="single-cta">
						<i class="fa fa-map-marker"></i>
						<div class="cta-text">
							<h4>Find us</h4>
							<span>1234 Mountain Road, Moncton,</span> <br> <span>
								NB, Canada, New Brunswick</span>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-md-3 ">
					<div class="single-cta">
						<i class="fa fa-phone"></i>
						<div class="cta-text">
							<h4>Contact Us</h4>
							<span>+1 (506) 999-9999<br>MO.Hospitality@nbcc.ca
							</span>
						</div>
					</div>
				</div>
				<div class="col-xl-2 col-md-2 "></div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<ul>
						<li><a th:href="@{/toAboutUs}">About Us</a></li>
						<li><a th:href="@{/toCustomerView}">Home</a></li>
						<li><a th:href="@{/reservationOptions}">Reservations</a></li>
						<li><a href="#">Privacy Policy</a></li>
					</ul>
					</ul>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">© Copyright 2022. All Rights Reserved.
					|| Designed By: DevAtlantics - Ana Silva & Jose Silva</div>
			</div>
		</div>
	</footer>

	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

	<script th:inline="javascript">
		/*<![CDATA[*/

		$('#addReservation').on(
				'show.bs.modal',
				function(event) {
					var button = $(event.relatedTarget);
					var reservationTime = button.data('object-name');
					$.get("/modals/new-reservation?reservationTime="
							+ reservationTime, function(data) {
						$('#addReservation').find('.modal-body').html(data);
					})
				})
		/*]]>*/
	</script>

</body>
</html>