<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap"
	rel="stylesheet">
<link rel="stylesheet" href="css/styles.css">
<script src="https://kit.fontawesome.com/cbb0aad349.js"
	crossorigin="anonymous"></script>
<title>RESTO-APP</title>
</head>

<body>
	<div class="admin-page">
		<div class="user-left-panel">
			<div class="logoAdmin">
				<img src="img/NBCC-white-simple.png">
			</div>
			<div>
				<div class="logoAdmin2">
					<img src="img/dinning-logo2.png">
				</div>
				<div class="user-navigation">
				<div class="navigation-item">
					<a th:href="@{/userPanel}" class="nav-link">Home</a>
				</div>
				<div class="navigation-item">
					<a th:href="@{/toMenuPanel}" class="nav-link">Menus</a>
				</div>
				<div class="navigation-item">
					<a th:href="@{/toReservationAdmin}" class="nav-link">Reservations</a>
				</div>
				<div class="navigation-item">
					<a th:href="@{/toFloorPlanAdmin}" class="nav-link">FloorPlan</a>
				</div>
				<div class="navigation-item">
					<a th:href="@{/toCustomerView}" class="nav-link">Customer View</a>
				</div>
			</div>
			</div>
			<div></div>
		</div>

		<div class="main">
			<div class="top-information center">USER INFORMATION</div>
			<div class="content">

				<div class="cart-primary menu-action1" style="display: block"
					id="menu-action1">
					<div>
						<h2>Please, provide some menu information</h2>
					</div>

					<form class="styled-form" th:action="@{/processMenuDetails}"
						method="POST" th:object="${menuToPopulate}">
						<div class="form-item">
							<label>Title</label> <input type="text" th:field="*{title}"
								placeholder="Title..." required>
						</div>
						<div class="form-item">
							<label>Description</label> <input type="text"
								th:field="*{description}" placeholder="Description...">
						</div>
						<div class="form-item">
							<label>Category</label> 
							<select th:field="*{type}" required>
							<option value="Breakfast" selected hidden>Category</option>
							<option value="Breakfast">Breakfast</option>
							<option value="Lunch">Lunch</option>
							<option value="Evening">Evening</option>
							</select>							
						</div>
						<button id="btnMenuDetails" class="button-6">Submit</button>
					</form>
			</div>
		</div>
	</div>
</body>

</html>