<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap"
	rel="stylesheet">
<link rel="stylesheet" href="../css/styles.css">
<link rel="stylesheet" href="../css/modal.css">
<link rel="stylesheet" href="../css/bootstrap.css">
<script src="https://kit.fontawesome.com/cbb0aad349.js"
	crossorigin="anonymous"></script>
<title>RESTO-APP</title>
</head>
<body>
	<div class="admin-page">
		<div class="user-left-panel">
			<div class="logoAdmin">
				<img src="img/NBCC-white-simple.png">
			</div>
			<div>
				<div class="logoAdmin2">
					<img src="img/dinning-logo2.png">
				</div>
				<div class="user-navigation">
				<div class="navigation-item">
					<a th:href="@{/userPanel}" class="nav-link">Home</a>
				</div>
				<div class="navigation-item">
					<a th:href="@{/toMenuPanel}" class="nav-link">Menus</a>
				</div>
				<div class="navigation-item">
					<a th:href="@{/toReservationAdmin}" class="nav-link">Reservations</a>
				</div>
				<div class="navigation-item">
					<a th:href="@{/toFloorPlanAdmin}" class="nav-link">FloorPlan</a>
				</div>
				<div class="navigation-item">
					<a th:href="@{/toCustomerView}" class="nav-link">Customer View</a>
				</div>
			</div>
			</div>
			<div></div>
		</div>
		
		<div class="main">
			<div class="top-information center">USER INFORMATION</div>
			<div class="content">
				<div class="user-actions-panel">
					<div class="user-action">
						<a th:href="@{/toAddMenu}" class="button-6">Create New Menu</a>
					</div>
				</div>
				<div class="cart-primary">
					<div class="cart-primary-title">Featured Menus</div>
					<div class="cart-primary-content">
						<div class="grid-menu-container">

							<div class="grid-menu">
								<h2>Breakfast Menu</h2>
								<div th:if="${breakfastMenu} == null">
									<h3>No breakfast menu to display yet.</h3>
									<input type="button" class="button-6" data-toggle="modal"
										data-target="#setBreakfast"
										th:attr="data-object-id='', data-object-name='', data-target='#setBreakfast'"
										value="Feature Menu">

									<th:block th:replace="_modals :: modal('setBreakfast')">modal</th:block>
								</div>
								<div th:unless="${breakfastMenu} == null">
									<div class="menu-display-container">
							<div class="menu-title center">
								<h2 th:text="${breakfastMenu.title}"></h2>
							</div>
							<div class="menu-details">
								<div class="menu-section-template" th:if="${breakfastMenu.getAppList().size()} > 0 ">
									<div class="menu-section-title">Appetizer</div>
									<div class="menu-section-content">
										<div th:each="dish : ${breakfastMenu.getAppList()}"
											class="menu-section-dish">
											<div th:text="${dish.name}" class="menu-dish-title"></div>
											<div th:text="${dish.description}"
												class="menu-dish-description"></div>
										</div>
									</div>
								</div>
								<div class="menu-section-template" th:if="${breakfastMenu.getEntreeList().size()} > 0 ">
									<div class="menu-section-title">Entree</div>
									<div class="menu-section-content">
										<div th:each="dish : ${breakfastMenu.getEntreeList()}"
											class="menu-section-dish">
											<div th:text="${dish.name}" class="menu-dish-title"></div>
											<div th:text="${dish.description}"
												class="menu-dish-description"></div>
										</div>
									</div>
								</div>
								<div class="menu-section-template" th:if="${breakfastMenu.getDessertList().size()} > 0 ">
									<div class="menu-section-title">Dessert</div>
									<div class="menu-section-content">
										<div th:each="dish : ${breakfastMenu.getDessertList()}"
											class="menu-section-dish">
											<div th:text="${dish.name}" class="menu-dish-title"></div>
											<div th:text="${dish.description}"
												class="menu-dish-description"></div>
										</div>
									</div>
								</div>
								<div class="menu-section-template" th:if="${breakfastMenu.getDrinkList().size()} > 0 ">
									<div class="menu-section-title">Drink</div>
									<div class="menu-section-content">
										<div th:each="dish : ${breakfastMenu.getDrinkList()}"
											class="menu-section-dish">
											<div th:text="${dish.name}" class="menu-dish-title"></div>
											<div th:text="${dish.description}"
												class="menu-dish-description"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<br>
									<input type="button" class="button-6" data-toggle="modal"
										data-target="#setBreakfast"
										th:attr="data-object-id='', data-object-name='', data-target='#setBreakfast'"
										value="Change Featured Menu">

									<th:block th:replace="_modals :: modal('setBreakfast')">modal</th:block>
								</div>
							</div>
							<div class="grid-menu ">
								<h2>Lunch Menu</h2>
								<div th:if="${lunchMenu} == null">
									<h3>No lunch menu to display yet.</h3>
									<input type="button" class="button-6" data-toggle="modal"
										data-target="#setLunch"
										th:attr="data-object-id='', data-object-name='', data-target='#setLunch'"
										value="Feature Menu">

									<th:block th:replace="_modals :: modal('setLunch')">modal</th:block>
								</div>
								<div th:unless="${lunchMenu} == null">
									<div class="menu-display-container">
							<div class="menu-title center">
								<h2 th:text="${lunchMenu.title}"></h2>
							</div>							
							<div class="menu-details">
								<div class="menu-section-template"  th:if="${lunchMenu.getAppList().size()} > 0 ">
									<div class="menu-section-title">Appetizer</div>
									<div class="menu-section-content">
										<div th:each="dish : ${lunchMenu.getAppList()}"
											class="menu-section-dish">
											<div th:text="${dish.name}" class="menu-dish-title"></div>
											<div th:text="${dish.description}"
												class="menu-dish-description"></div>
										</div>
									</div>
								</div>
								<div  class="menu-section-template" th:if="${lunchMenu.getEntreeList().size()} > 0 ">
									<div class="menu-section-title">Entree</div>
									<div class="menu-section-content">
										<div th:each="dish : ${lunchMenu.getEntreeList()}"
											class="menu-section-dish">
											<div th:text="${dish.name}" class="menu-dish-title"></div>
											<div th:text="${dish.description}"
												class="menu-dish-description"></div>
										</div>
									</div>
								</div>
								<div class="menu-section-template" th:if="${lunchMenu.getDessertList().size()} > 0 ">
									<div class="menu-section-title">Dessert</div>
									<div class="menu-section-content">
										<div th:each="dish : ${breakfastMenu.getDessertList()}"
											class="menu-section-dish">
											<div th:text="${dish.name}" class="menu-dish-title"></div>
											<div th:text="${dish.description}"
												class="menu-dish-description"></div>
										</div>
									</div>
								</div>
								<div class="menu-section-template" th:if="${lunchMenu.getDrinkList().size()} > 0 ">
									<div class="menu-section-title">Drink</div>
									<div class="menu-section-content">
										<div th:each="dish : ${lunchMenu.getDrinkList()}"
											class="menu-section-dish">
											<div th:text="${dish.name}" class="menu-dish-title"></div>
											<div th:text="${dish.description}"
												class="menu-dish-description"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<br>
									<input type="button" class="button-6" data-toggle="modal"
										data-target="#setLunch"
										th:attr="data-object-id='', data-object-name='', data-target='#setLunch'"
										value="Change Featured Menu">

									<th:block th:replace="_modals :: modal('setLunch')">modal</th:block>
								</div>
							</div>
							<div class="grid-menu">
								<h2>Evening Menu</h2>
								<div th:if="${eveningMenu} == null">
									<h3>No evening menu to display yet.</h3>
									<input type="button" class="button-6" data-toggle="modal"
										data-target="#setEvening"
										th:attr="data-object-id='', data-object-name='', data-target='#setEvening'"
										value="Feature Menu">

									<th:block th:replace="_modals :: modal('setEvening')">modal</th:block>
								</div>
								<div th:unless="${eveningMenu} == null">

									<div class="menu-display-container">
							<div class="menu-title center">
								<h2 th:text="${eveningMenu.title}"></h2>
							</div>
							<div class="menu-details">
								<div class="menu-section-template"  th:if="${eveningMenu.getAppList().size()} > 0 ">
									<div class="menu-section-title">Appetizer</div>
									<div class="menu-section-content">
										<div th:each="dish : ${eveningMenu.getAppList()}"
											class="menu-section-dish">
											<div th:text="${dish.name}" class="menu-dish-title"></div>
											<div th:text="${dish.description}"
												class="menu-dish-description"></div>
										</div>
									</div>
								</div>
								<div class="menu-section-template"  th:if="${eveningMenu.getEntreeList().size()} > 0 ">
									<div class="menu-section-title">Entree</div>
									<div class="menu-section-content">
										<div th:each="dish : ${eveningMenu.getEntreeList()}"
											class="menu-section-dish">
											<div th:text="${dish.name}" class="menu-dish-title"></div>
											<div th:text="${dish.description}"
												class="menu-dish-description"></div>
										</div>
									</div>
								</div>
								<div class="menu-section-template"  th:if="${eveningMenu.getDessertList().size()} > 0 ">
									<div class="menu-section-title">Dessert</div>
									<div class="menu-section-content">
										<div th:each="dish : ${eveningMenu.getDessertList()}"
											class="menu-section-dish">
											<div th:text="${dish.name}" class="menu-dish-title"></div>
											<div th:text="${dish.description}"
												class="menu-dish-description"></div>
										</div>
									</div>
								</div>
								<div class="menu-section-template" th:if="${eveningMenu.getDrinkList().size()} > 0 ">
									<div class="menu-section-title">Drink</div>
									<div class="menu-section-content">
										<div th:each="dish : ${eveningMenu.getDrinkList()}"
											class="menu-section-dish">
											<div th:text="${dish.name}" class="menu-dish-title"></div>
											<div th:text="${dish.description}"
												class="menu-dish-description"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<br>	
									<input type="button" class="button-6" data-toggle="modal"
										data-target="#setEvening"
										th:attr="data-object-id='', data-object-name='', data-target='#setEvening'"
										value="Change Featured Menu">

									<th:block th:replace="_modals :: modal('setEvening')">modal</th:block>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="cart-primary">
					<div class="cart-primary-title">All Menus</div>
					<div class="cart-primary-content">

						<div th:each="menu : ${allMenus}" class="cart-secondary">
							<div class="cart-secondary-title flex-container-top-right-header">
								<div>
									<h3 th:text="${menu.title}"></h3>
								</div>
								<div>

									<form th:action="@{/toDeleteMenu}" method="GET">
										<input type="text" name="menuId" hidden th:value="${menu.id}">
										<button class="icon-small">
											<i class="fa-solid fa-trash"></i>
										</button>
									</form>


								</div>
							</div>
							<div class="cart-secondary-content">
								<div class="content-left">
									Category: <span th:text="${menu.type}"></span> <br> Total
									Items: <span th:text="${menu.dishList.size()}"></span> <br>
									Last Modified: <span th:text="${menu.date}"></span>
								</div>
								<div class="content-right flex-container-2">
									<!-- 
									<div th:if="${menu.toDisplay}">
										<input type="button" class="button-6" data-toggle="modal"
											data-target="#displayMenu"
											th:attr="data-object-id=''+${menu.id}+'', data-object-name=''+${menu.id}+'', data-target='#displayMenu'"
											value="Hide">

										<th:block th:replace="_modals :: modal('displayMenu')">modal</th:block>
									</div>
									 
									<div th:unless="${menu.toDisplay}">
										<input type="button" class="button-6" data-toggle="modal"
											data-target="#displayMenu"
											th:attr="data-object-id=''+${menu.id}+'', data-object-name=''+${menu.id}+'', data-target='#displayMenu'"
											value="Display">

										<th:block th:replace="_modals :: modal('displayMenu')">modal</th:block>
									</div>
 									-->
									<a th:href="@{/recallMenu/{mId}(mId=${menu.id})}"
										class="button-6">View/Edit</a>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>


		<!-- 				<div class="modal-container" id="displayMenuModal">
					<div class="modal-wrapper">
						<div class="modal-content">
							<!-- 
							<h2> Are you sure you want to display the menu <span th:text="${menuToDisplay.title}"></span>?</h2>
							<form th:action="@{/processDisplayMenu}" method="POST"
								class="form-container">
								
							</form>
						</div>
						<div class="modal-footer"></div>
					</div>
	ss
						</div>

						<div class="footer"></div>
					</div>
-->
	</div>
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

	<script th:inline="javascript">
		/*<![CDATA[*/

		$('#displayMenu').on('show.bs.modal', function(event) {
			var button = $(event.relatedTarget);
			var menuId = button.data('object-name');
			console.log(menuId);
			$.get("/modals/display-menu?menuId=" + menuId, function(data) {
				$('#displayMenu').find('.modal-body').html(data);
			})
		})
		$('#setBreakfast').on('show.bs.modal', function(event) {
			var button = $(event.relatedTarget);
			$.get("/modals/setBreakfast", function(data) {
				$('#setBreakfast').find('.modal-body').html(data);
			})
		})
		$('#setLunch').on('show.bs.modal', function(event) {
			var button = $(event.relatedTarget);
			$.get("/modals/setLunch", function(data) {
				$('#setLunch').find('.modal-body').html(data);
			})
		})
		$('#setEvening').on('show.bs.modal', function(event) {
			var button = $(event.relatedTarget);
			$.get("/modals/setEvening", function(data) {
				$('#setEvening').find('.modal-body').html(data);
			})
		})

		/*]]>*/
	</script>
</body>
</html>