<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap"
	rel="stylesheet">
<link rel="stylesheet" href="../css/styles.css">
<script src="https://kit.fontawesome.com/cbb0aad349.js"
	crossorigin="anonymous"></script>
<title>RESTO-APP</title>
</head>

<body>
	<div class="admin-page">
		<div class="user-left-panel">
			<div class="logoAdmin">
				<img src="img/NBCC-white-simple.png">
			</div>
			<div>
				<div class="logoAdmin2">
					<img src="img/dinning-logo2.png">
				</div>
				<div class="user-navigation">
				<div class="navigation-item">
					<a th:href="@{/userPanel}" class="nav-link">Home</a>
				</div>
				<div class="navigation-item">
					<a th:href="@{/toMenuPanel}" class="nav-link">Menus</a>
				</div>
				<div class="navigation-item">
					<a th:href="@{/toReservationAdmin}" class="nav-link">Reservations</a>
				</div>
				<div class="navigation-item">
					<a th:href="@{/toFloorPlanAdmin}" class="nav-link">FloorPlan</a>
				</div>
				<div class="navigation-item">
					<a th:href="@{/toCustomerView}" class="nav-link">Customer View</a>
				</div>
			</div>
			</div>
			<div></div>
		</div>

		<div class="main">
			<div class="top-information center">USER INFORMATION</div>
			<div class="content">
				<div class="menu-action2" id="menu-action2">
					<h2 class="center">To create a new menu you can create a new
						dish or select one existing from the database.</h2>
					<div class="flex-container">
						<div class="addNewDishPanel cart-primary">
							<h2 class="center">Select or Create a New Dish</h2>
							<div class="dish-panel-header flex-container">
								<div class="search-panel">
									<form class="search" th:action="@{/toPopulateMenu}"
										method="POST">
										<input type="text" placeholder="Search..." name="searchTerm">
										<input type="submit">
									</form>
								</div>
								<div class="add-new-item">
									<button class="button-6" id="btnNewDish">Add Dish</button>
								</div>
							</div>

							<div class="dish-list">
								<div th:if="${dishList.size() == 0}">
									<h3 class="center">Add Dish to See a List</h3>
								</div>
								<div th:unless="${dishList.size() == 0}">
									<table class="styled-table2">
										<thead>
											<tr>
												<th>Name</th>
												<th>Category</th>												
												<th>Nationality</th>
												<th>Action</th>
											</tr>
										</thead>
										<tbody>
											<!-- TO DO:  LIST OF APPETIZER, ENTREE, DESERT AND DRINK BASED ON MENU -->
											<tr th:each="dish : ${dishList}">
												<td th:text="${dish.name}"></td>
												<td th:text="${dish.category}"></td>												
												<td th:text="${dish.Nationality}"></td>
												<td><a
													th:href="@{/addDishToMenu/{dId}(dId=${dish.id})}"
													class="action-link">Add <i
														class="fa-regular fa-circle-right"></i></a> / <a
													th:href="@{/deleteDish/{dId}(dId=${dish.id})}"
													class="action-link">Delete <i class="fa-solid fa-trash"></i></a></td>
												</td>
											</tr>
										</tbody>
									</table>


									<div class="pagination">

										<a href="#">&laquo;</a>
										<div th:each="page: ${pagesList}">
											<div th:if="${page == pageNumber + 1}">
												<a th:text="${page}"
													th:href="@{/toPopulateMenu/{pageNum}(pageNum=${page - 1})}"
													class="active"></a>
											</div>
											<div th:unless="${page == pageNumber + 1}">
												<a th:text="${page}"
													th:href="@{/toPopulateMenu/{pageNum}(pageNum=${page - 1})}"></a>
											</div>
										</div>
										<a href="#">&raquo;</a>
									</div>
								</div>

							</div>
						</div>

						<div class="admin-menuDisplay cart-primary">
							<div class="flex-container">
								<h2 class="center">
									<span th:text="${menuToPopulate.title}"></span> Menu
								</h2>
								<div class="content-right flex-container">
									<div>
										<a class="button-6"
											th:href="@{/toSaveMenu/{mId}(mId=${menuToPopulate.id})}">Save
										</a>
									</div>
									<div>
										<a class="button-6" th:href="@{/toCancelMenu}"
											style="color: #8d0101; background-color: #FF9e79;">Cancel</a>
									</div>
								</div>
							</div>

							<div th:if="menuToPopulate != null">
								<table class="styled-table2">
									<thead>
										<tr>
											<th>Name</th>
											<th>Category</th>
											<th>Description</th>
											<th>Nationality</th>
										</tr>
									</thead>
									<tbody>
										<!-- TO DO:  LIST OF APPETIZER, ENTREE, DESERT AND DRINK BASED ON MENU -->
										<tr th:each="dish : ${menuToPopulate.getDishList()}">
											<td th:text="${dish.name}"></td>
											<td th:text="${dish.category}"></td>
											<td th:text="${dish.Description}"></td>
											<td th:text="${dish.Nationality}"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

					</div>

				</div>

			</div>

			<div class="modal-container" id="addDishModal">
				<div class="modal-wrapper">
					<div class="modal-header">
						<h2>Add Dish Panel</h2>
						<div class="btn-close">
							<i class="fa-solid fa-xmark"></i>
						</div>
					</div>
					<div class="modal-content">
						<form th:action="@{/processAddNewItem}" method="POST"
							th:object="${dishToAdd}" class="form-container">
							<div class="form-item">
								<label> Name</label> <input type="text" th:field="*{name}"
									required>
							</div>
							<div class="form-item">
								<label>Description</label> <input type="text"
									th:field="*{description}" required>
							</div>
							<div class="form-item">
								<label>Category</label> <select th:field="*{category}">
									<option value="0" selected hidden>Category</option>
									<option th:each="c : ${categories}" th:value="${c}"
										th:text="${c}"></option>
								</select>
							</div>
							<div class="form-item">
								<label>Nationality</label> <select th:field="*{nationality}"
									required>
									<option value="0" selected hidden>Nationality</option>
									<option th:each="n : ${nationalities}" th:value="${n}"
										th:text="${n}">
								</select>
							</div>
							<div class="form-actions">
								<input type="submit" class="button-6">
								<button class="button-6 close">Cancel</button>
							</div>
						</form>
					</div>
					<div class="modal-footer"></div>
				</div>
			</div>

			<div class="footer footerPanel">
				<div class="row">
					<div class="col-md-12">© Copyright 2022. All Rights Reserved.
						|| Designed By: DevAtlantics - Ana Silva & Jose Silva</div>
				</div>
			</div>
		</div>
	</div>

</body>
<script>
	var modal = document.getElementById("addDishModal");
	var menu_action1 = document.getElementById("menu-action1");
	var menu_action2 = document.getElementById("menu-action2");

	//Get the button that opens the modal
	var btnNewDish = document.getElementById("btnNewDish");

	//Get the <span> element that closes the modal
	var span = document.getElementsByClassName("close")[0];

	//When the user clicks on the button, open the modal

	btnNewDish.onclick = function() {
		modal.style.display = "block";
	}

	//When the user clicks on <span> (x), close the modal
	span.onclick = function() {
		modal.style.display = "none";
	}

	//When the user clicks anywhere outside of the modal, close it
	window.onclick = function(event) {
		if (event.target == modal) {
			modal.style.display = "none";
		}
	}
</script>

</html>